<link rel="prefetch" as="style" href="css/libs-async.min.css" onload="this.onload=null;this.rel='stylesheet'">
<link rel="prefetch" as="style" href="css/style-async.min.css" onload="this.onload=null;this.rel='stylesheet'">

<!-- <script>
  function loadStyle(url) {
    let link = document.createlElement('link');
    link.href = url;
    link.rel = 'stylesheet';
    document.body.appendChild(link);
    }
    loadStyle('css/libs-async.min.css');
    loadStyle('css/style-async.min.css');
</script> -->

