.about {
  padding: clamp(60px, 7vw, 120px) 0;
  @include image-set ('@img/bg1_1920x840');
  @include bg-cover;
  color: var(--color-background-text);
  &__wrapper {
    display: grid;
    grid-template: auto auto / 70%;
    row-gap: 40px;
    justify-content: center;
  }
  &__title {
    margin-top: 10px;
    color: var(--color-background-text);
  }
  &__txt {
    margin-top: clamp(30px, 5vw, 50px);
    width: 100%;
    &_indent {
      margin-top: 5px;
    }
  }
}

.skill-items {
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 10px 40px;
}
.skill-item {
  display: flex;
  transition: var(--transition-base);
  &__content {
    width: 100%;
    margin-left: 25px;
  }
  &__txt {
    margin-top: 10px;
  }
  &__icon {
    color: var(--color-background-text);
  }
  &:hover {
    .box-icon {
      background: var(--color-accent-second);
      box-shadow: var(--shadow-btn-hover);
    }
  }
}
