.contact {
  padding: clamp(60px, 7vw, 120px) 0;
  @include image-set ('@img/bg2_1920x820');
  @include bg-cover;
  color: var(--color-background-text);
  &__wrapper {
    display: grid;
    grid-template: auto / 70%;
    row-gap: 40px;
    justify-content: center;
  }
  &__content {
    padding-top: 7px;
  }
  &__title {
    color: var(--color-background-text);
  }
  &__inner-social {
    display: flex;
    align-items: center;
    margin-top: clamp(20px, 5vw, 60px);
  }
  &__subtitle {
    &-social {
      color: var(--color-background-text);
      margin-right: 20px;
    }
    &-form {
      margin-top: 30px;
      color: var(--color-background-text);
      &_short {
        display: none;
      }
    }
  }
  &__social {
    max-width: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    width: 30px;
    height: 30px;
    transition: var(--transition-base);
    &:hover {
      transform: rotate(360deg);
    }
  }
  &__icon {
    color: var(--color-background-text);
    transition: var(--transition-base);
    &:hover {
      color: var(--color-accent-second);
    }
  }
  &__form {
    margin-top: 20px;
    display: grid;
    grid-template: auto 180px auto / minmax(300px, auto) minmax(340px, auto);
    gap: 20px;
    &-inner {
      width: 100%;
      height: 100%;
      background: transparent;
      border: 1px solid var(--color-background-text);
      border-top: unset;
      padding: 13px 20px 13px 20px;
      position: relative;
      &::placeholder {
        color: var(--color-gray-second);
      }
      &::before, &::after {
        content: '';
        display: block;
        height: 1px;
        top: 0;
        background: var(--color-background-text);
        position: absolute;
      }
      &::before {
        width: 13px;
        left: -1px;
      }
      &_name {
        &::after {
          width: calc(100% - 91px);
          left: 92px;
        }
      }
      &_email {
        &::after {
          width: calc(100% - 103px);
          left: 104px;
        }
      }
      &_text {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        &::after {
          width: calc(100% - 135px);
          left: 136px;
        }
      }
    }
    &-input {
      background: transparent;
      color: var(--color-background-text);
      resize: none;
      &_policy {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        padding: 0;
        appearance: none;
        cursor: pointer;
        transition: var(--transition-base);
        border: 1px solid var(--color-background-text);
        &:checked {
          background: var(--color-accent-main);
        }
      }
    }
    &-label {
      position: absolute;
      padding: 0 10px;
      top: -10px;
      left: 12px;
      &_policy {
        position: static;
        background: transparent;
        display: flex;
        align-items: center;
      }
    }
    &-send {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      display: flex;
      justify-content: space-between;
    }
    &-policy {
      align-items: center;
      display: flex;
    }
  }
}

.decor-link {
  &_fullpolicy {
    display: block;
  }
  &_shortpolicy {
    display: none;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
