.decorline {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: $first-accent-color;
    top: 62px;
    position: absolute;
  }
  &_center {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
