.footer {
  padding-top: clamp(30px, 7vw, 60px);
  padding-bottom: clamp(30px, 7vw, 60px);
  font-size: 12px;
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__policy {
    text-align: right;
  }
}
