.footer {
  padding: clamp(30px, 7vw, 60px) 0;
  font-size: 12px;
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__policy {
    text-align: right;
    &-google {
      margin-top: -5px;
      line-height: 1;
    }
  }
}
