.hamburger {
  width: 40px;
  position: fixed;
  top: 50px;
  left: 50px;
  &:hover {
    cursor: pointer;
    .hamburger__line {
      width: 40px;
      &_move {
      width: 20px;
      }
    }
  }
  &__line{
    width: 20px;
    height: 3px;
    background-color: $secondary-color;
    display: block;
    margin: 7px auto;
    transition: all 0.6s ease-in-out;
    &_move {
      width: 40px;
    }
  }
  &_active {
    .hamburger__line {
      &:nth-child(1){
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3){
        opacity: 0;
        transform: translateX(100%);
      }
    }
  }
}

.hamburger-close {
  width: 40px;
  position: absolute;
  top: 25px;
  right: 25px;
  &:hover {
    cursor: pointer;
    .hamburger-close__line_move {
      width: 40px;
      }
    }
  &__line {
    width: 40px;
    height: 3px;
    background-color: $secondary-color;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    &:nth-child(1){
      transform: translateX(100%);
    }
    &:nth-child(3){
      transform: translateX(-100%);
    }
    &_move {
      width: 20px;
      opacity: 1;
    }
  }
  &_active {
    .hamburger-close__line {
      &:nth-child(1){
        opacity: 1;
        transform: translateX(0);
      }
      &:nth-child(3){
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
