.portfolio {
  padding: clamp(60px, 7vw, 120px) 0;
  &__wrapper {
    margin-top: clamp(30px, 5vw, 50px);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }
  &__link {
    transition: var(--transition-base);
    &:hover {
      transform: scale(1.05);
    }
    img {
      height: 100%;
    }
  }
}






