.promo {
  &__alignment {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.offer {
  display: flex;
  justify-content: space-between;
  &__title {
    @include adaptiv-font(80,44);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 13px;
    max-width: 511px;
    width: 100%;
  }
  &__btns {
    display: flex;
    margin-top: 50px;
  }
  &__btn {
    &:first-child {
      margin-right: 40px;
    }
    &_notactive {
      background-color: var(--color-main);
    }
  }
  &__text-box {
    max-width: 170px;
    width: 100%;
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__txt {
    font-size: 18px;
    font-weight: 200;
    opacity: 0.75;
    div {
      display: inline-block;
      }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

// @keyframes animated-shadow {
// 	from {
// 		background-position: 0 0;
//   }
// 	50% {
// 		background-position: 100% 0;
//   }
// 	to {
// 		background-position: 0 0;
//   }
// }
