.promo {
  height: 100vh;
  padding-top: 210px;
}

.social-wrap {
  display: flex;
  flex-direction: column-reverse;
  max-height: 358px;
  height: 100%;
  width: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  &__text {
    font-weight: 700;
    font-size: 16px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  &__decor {
    background-color: #fff;
    width: 2px;
    height: 100px;
    align-items: center;
  }
  &__inner {
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    &_menu {
      height: 20px;
      width: 90px;
      flex-direction: row;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);

    }
  }
  &__link {
    transform: rotate(-90deg);
    &:hover {
      svg path {
        fill: $second-accent-color
      }
    }
    &_menu {
      transform: rotate(0deg);
      // margin: 0 auto;
    }
  }
}

.offer {
  display: flex;
  justify-content: space-between;
  &__title {
    @include adaptiv-font(80,44);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 13px;
    max-width: 511px;
    width: 100%;
  }
  &__btns {
    display: flex;
    margin-top: 50px;
  }
  &__btn {
    &:first-child {
      margin-right: 40px;
    }
    &_notactive {
      background-color: #1F1E1C;
    }
  }
  &__img {
    margin-top: -154px;
    filter: grayscale(100%);
    transition: all .6s ease;
    z-index: 1;
    position: relative;
    &:hover {
      filter: grayscale(0%);
    }
		&::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(45deg, $first-accent-color, $second-accent-color, $secondary-color);
      // background-size: 400%;
      width: 100%;
      height: 100%;
      z-index: -1;
      animation: animated-shadow 20s linear infinite alternate;
    }
		&::after {
			filter: blur(30px);
    }
  }
}

@keyframes animated-shadow {
	from {
		background-position: 0 0;
  }
	50% {
		background-position: 100% 0;
  }
	to {
		background-position: 0 0;
  }
}

.glitch{
  position: relative;
  &:before,
  &:after{
    content: 'Hello, world!';
    opacity: 0.8;
    position: absolute;
    top:0;
    left:0;
  }
  &:before{
    color: $first-accent-color;
    z-index: -1;
  }
  &:after{
    color: $second-accent-color;
    z-index: -2;
  }
  &:hover {
        &:before {
            animation: glitch .9s cubic-bezier(.25, .46, .45, .94) both infinite
        }
        &:after {
            animation: glitch .7s cubic-bezier(.25, .46, .45, .94) reverse both infinite
        }
    }
}

@keyframes glitch {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-5px, 5px);
        transform: skewX(10deg);
    }
    40% {
        transform: translate(-5px, -5px);
    }
    60% {
        transform: translate(5px, 5px)
    }
    80% {
        transform: translate(5px, -5px)
    }
    to {
        transform: translate(0)
    }
}
