.resume {
  padding-top: clamp(60px, 7vw, 120px);
  padding-bottom: clamp(60px, 7vw, 120px);
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    column-gap: 140px;
    margin-top: clamp(30px, 5vw, 50px);
    padding: 0 100px 100px 100px;
  }
  &__colomn {
    padding-left: 50px;
  }
  &__subtitle {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      background-color: var(--color-accent-main);
      display: block;
      border-radius: 100%;
    }
  }
  &__wrapper {
    padding: 46px 0 0 0;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -43px;
      top: -5px;
      width: 1px;
      height: calc(100% + 5px);
      display: block;
      background-color: var(--color-second);
    }
    &:hover {
      .background-box {
        background-color: var(--color-accent-second);
        box-shadow: var(--shadow-btn-hover);
      }
    }
  }
  &__inner {
    display: flex;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 43px;
      display: block;
      left: -43px;
      top: 18px;
      background-color: var(--color-second);
    }
  }
  &__desc {
    margin-top: 5px;
  }
  &__txt {
    margin-top: 11px;
  }
  &__btn {
    display: none;
  }
}
.resume-item {
  &__background-box {
    margin-right: 20px;
  }
}

body.img-3-wrap .cursor3{
  background-image: url('@img/WDI.jpg');
}
body.img-4-wrap .cursor3{
  background-image: url('@img/WayUp.jpg');
}
body.img-5-wrap .cursor3{
  background-image: url('@img/Science_design.jpg');
}
body.img-6-wrap .cursor3{
  background-image: url('@img/Udemy.jpg');
}
