.btn {
  background: $first-accent-color;
  box-shadow: -14px -14px 28px #252422, 14px 14px 28px #191816;
  color: $secondary-color;
  display: block;
  text-align: center;
  transition: all 0.5s ease;
  font-size: 14px;
  line-height: 1.3;
  padding: 10px 25px;
  &:hover {
  background: $second-accent-color;
  color: #050801;
  box-shadow: 0 0 5px $second-accent-color, 0 0 25px $second-accent-color, 0 0 50px $second-accent-color;
  -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  &:active {
  background: $first-accent-color;
  }
  &.focus-visible {
    background: $second-accent-color;
  }
}
