/* Extra Large: ≥1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .skills {
    &__wrapper {
      &_adaptive {
        display: none;
      }
    }
  }
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .resume {
    &__box {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;
      padding: 0;
    }
  }
  .skills {
    &__wrapper {
      grid-template: repeat(3, 270px) / repeat(3, 270px);
      gap: 20px;
      justify-content: center;
      &_adaptive {
        display: none;
      }
    }
    &__levels {
      grid-template: repeat(2, 70px) / repeat(2, 350px);
      justify-content: center;
    }
  }
  .price {
    &__wrapper {
      padding: 0;
    }
  }
  .modal {
    &__wrapper {
      width: 70%;
    }
    &__slider-variants {
      display: none;
    }
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .offer {
    &__btn {
      &_notactive {
        &:hover {
          background: var(--color-main);
          color: var(--color-second);
        }
      }
    }
  }
  .about {
    @include image-set ('@img/bg1_1800x2000');
    &__wrapper {
      grid-template: auto auto / 80%;
    }
  }
  .skill {
    &-item {
      &:hover {
        .background-box {
          background: var(--color-accent-main);
          box-shadow: unset;
      }
      }
    }
  }
  .resume {
    &__box {
      column-gap: 80px;
    }
    &__btn {
      display: block;
      margin-top: 15px;
      font-size: 12px;
      padding: 5px 15px;
    }
    &__wrapper:hover {
      .background-box {
        background: var(--color-accent-main);
        box-shadow: unset;
      }
    }
  }
  .skills {
    ul {
      display: none;
    }
    &__wrapper {
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      grid-auto-rows: 1fr;
      gap: 10px;
      &_adaptive {
        display: grid;
      }
    }
    &__icon {
      position: unset;
      transform: unset;
      background: var(--color-main);
      border: 1px solid var(--border-skill);
      transition: var(--transition-base);
      &:hover {
        background: var(--background-skill);
        border: 1px solid var(--color-main);
      }
    }
    &__levels {
      grid-template: repeat(2, 70px) / repeat(2, 300px);
    }
    &__level {
      &:hover {
        .skills__level-title.label::before {
          background: var(--color-accent-main);
          box-shadow: unset;
        }
      }
    }
  }
  .portfolio {
    &__wrapper {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    &__link {
      &_hidden {
        display: none;
      }
    }
    &__more-btn {
      display: block;
    }
  }
  .price {
    &__wrapper {
      column-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__inner {
      &:hover {
        .price__item {
          &::before {
            background: var(--color-accent-main);
            box-shadow: unset;
          }
        }
      }
    }
  }
  .contact {
    &__wrapper {
      grid-template-columns: 80%;
    }
    &__subtitle {
      &-form {
        margin-top: 20px;
      }
    }
    &__form {
      grid-template-columns: auto;
    }
  }
  .btn {
    &:hover, &:active {
      background: var(--color-accent-main);
      box-shadow: var(--shadow-btn);
      color: var(--color-background-text);
      -webkit-box-reflect: unset;
    }
  }
  .offer {
    &__btn {
      &_notactive {
        &:hover, &:active {
          background: var(--color-main);
          color: var(--color-second);
        }
      }
    }
  }
  .social-wrap {
    &__link {
      &:hover {
      transform: scale(1);
      svg path {
        fill: var(--color-icon-link);
        }
      }
    }
  }

  @media screen {
    .cursor,.cursor2,.cursor3 {
      display: none;
    }
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .about {
    @include image-set ('@img/bg1_1200x1800');
  }
  .skill {
    &-items {
    grid-template: auto / auto;
    row-gap: 30px;
    }
  }
  .resume {
    &__box {
      grid-template-columns: 80%;
      gap: 50px 0;
      justify-content: center;
    }
  }
  .skills {
    &__wrapper {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    &__levels {
      grid-template: repeat(2, 70px) / 400px;
    }
  }
  .skills__icon {
    border: unset;
    &:hover {
      background: var(--color-main);
      border: unset;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template: 1fr / 1fr;
    }
    &__link {
      display: flex;
      justify-content: center;
      &_hidden {
        display: none;
      }
    }
    &__more-btn {
      margin-left: 82px;
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: 80%;
      justify-content: center;
      row-gap: 20px;
    }
  }
  .contact {
    &__form {
      grid-template-rows: auto auto 180px auto;
      grid-template-columns: auto;
      &-inner {
        &_name {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        }
        &_email {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        }
        &_text {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        }
      }
      &-send {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        flex-direction: column-reverse;
      }
      &-btn {
        margin-top: 10px;
        margin-left: auto;
        max-width: 50%;
      }
    }
  }
  .modal {
    &__wrapper {
      width: 80%;
      padding: 30px;
    }
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .about {
    text-align: center;
    &__wrapper {
      grid-template: auto auto / 85%;
    }
  }
  .skill-items {
    grid-template: auto / 85%;
    justify-content: center;
  }
  .skill-item {
    flex-direction: column;
    &__box-icon {
      margin: 0 auto 20px;
      max-width: 36px;
    }
    &__content {
      margin-left: unset;
    }
  }
  .resume {
    &__box {
      grid-template-columns: auto;
    }
  }
  .portfolio {
    &__more-btn {
      margin: 15px auto 0;
    }
  }
  .skills {
    &__wrapper {
      grid-template: repeat(2, 1fr) / 1fr;
      gap: 20px;
      justify-items: center;
    }
    &__icon {
      max-width: 290px;
      text-align: center;
    }
    &__levels {
      grid-template: repeat(2, 70px) / 85%;
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: auto;
    }
    &__column {
      grid-template-rows: auto auto auto;
      height: unset;
      row-gap: 10px;
    }
    &__inner {
      padding-left: unset;
      grid-template-rows: auto auto;
    }
    &__item::before {
      display: none;
    }
  }
  .contact {
    &__wrapper {
      grid-template-columns: 100%;
    }
    &__inner-social {
      flex-direction: column;
    }
    &__subtitle {
      &-social {
      margin: 0 0 15px;
      }
      &-form {
        &_full {
          display: none;
        }
        &_short {
          display: block;
          text-align: center;
        }
      }
    }
    &__form {
      &-send {
        align-items: center;
      }
      &-btn {
        margin-left: unset;
        max-width: 82%;
      }
      &-label {
        white-space: nowrap;
      }
    }
  }
  .decor-link {
    &_fullpolicy {
      display: none;
    }
    &_shortpolicy {
      display: block;
    }
  }
  .footer {
    &__box {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__policy {
      margin-top: 20px;
      text-align: center;
      &-google {
        margin-top: 20px;
      }
    }
  }
  .modal {
    &__wrapper {
      width: 90%;
      padding: 20px;
    }
    &__links {
      &-wrapper:first-child {
        margin-bottom: 15px;
      }
    }
  }
  .menu {
    &.active {
      left: 0;
      visibility: visible;
      opacity: 1;
    }
    &__block {
      max-width: unset;
      width: 100%;
      top: 0;
      transform: translateY(0);
    }
  }
}

/* Hide slider-variants */
@media (max-width: 1400px) {
  .modal {
    &__slider-variants {
      display: none;
    }
  }
}
