/* Extra Large: ≥1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .skills {
    &__wrapper {
      &_adaptive {
        display: none;
      }
    }
  }
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .offer {
    justify-content: space-around;
  }
  .resume {
    &__box {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;
      padding: 0;
    }
  }
  .skills {
    &__wrapper {
      grid-template: repeat(3, 270px) / repeat(3, 270px);
      gap: 20px;
      justify-content: center;
      &_adaptive {
        display: none;
      }
    }
    &__levels {
      grid-template: repeat(2, 70px) / repeat(2, 350px);
      justify-content: center;
    }
  }
  .price {
    &__wrapper {
      padding: 0;
    }
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }
  .about {
    background: url('@img/bg1_1800x2000.jpg') no-repeat center top / cover;
    &__wrapper {
      grid-template: auto auto / 80%;
    }
  }
  .resume {
    &__box {
      column-gap: 80px;
    }
  }
  .skills {
    ul {
      display: none;
    }
    &__wrapper {
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      grid-auto-rows: 1fr;
      gap: 10px;
      &_adaptive {
        display: grid;
      }
    }
    &__icon {
      position: unset;
      transform: unset;
      background-color: var(--color-main);
      border: 1px solid var(--border-skill);
      transition: var(--transition-base);
      &:hover {
        background-color: var(--background-skill);
        border: 1px solid var(--color-main);
      }
    }
    &__levels {
      grid-template: repeat(2, 70px) / repeat(2, 300px);
    }
  }
  .portfolio {
    &__wrapper {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
  }
  .price {
    &__wrapper {
      column-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .contact {
    &__wrapper {
      grid-template-columns: 80%;
    }
    &__subtitle {
      &-form {
        margin-top: 20px;
      }
    }
    &__form {
      grid-template-columns: auto;
    }
  }
}


/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
		max-width: 540px;
	}
  .offer {
    &__text-box {
      display: none;
    }
  }
  .burger {
    top: 20px;
    right: 20px;
  }
  .theme {
    top: 20px;
    left: 20px;
  }
  .buttonup {
    right: 20px;
    bottom: 20px;
  }
  .about {
    background: url('@img/bg1_1200x1800.jpg') no-repeat center top / cover;
  }
  .skill {
    &-items {
    grid-template: auto / auto;
    row-gap: 30px;
    }
  }
  .resume {
    &__box {
      grid-template-columns: 80%;
      gap: 50px 0;
      justify-content: center;
    }
  }
  .skills {
    &__wrapper {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    &__levels {
      grid-template: repeat(2, 70px) / 400px;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template: 1fr / 1fr;
    }
    &__link {
      display: flex;
      justify-content: center;
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: 80%;
      justify-content: center;
      row-gap: 20px;
    }
  }
  .contact {
    &__form {
      grid-template-rows: auto auto 180px auto;
      &-name {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
      &-email {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
      &-text {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
      }
      &-send {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        flex-direction: column-reverse;
      }
    }
    &__btn {
      margin-top: 10px;
      max-width: 50%;
    }
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }
  .menu {
    &__block {
    max-width: 250px;
    }
  }
  .about {
    text-align: center;
    &__wrapper {
      grid-template: auto auto / 90%;
    }
  }
  .skill-items {
    grid-template: auto / 85%;
    justify-content: center;
  }
  .skill-item {
    flex-direction: column;
    &__background-box {
      margin: 0 auto 20px;
      max-width: 36px;
    }
    &__content {
      margin-left: unset;
    }
  }
  .resume {
    &__box {
      grid-template-columns: auto;
    }
  }
  .skills {
    &__wrapper {
      grid-template: repeat(2, 1fr) / 1fr;
      gap: 20px;
      justify-items: center;
    }
    &__icon {
      max-width: 290px;
      text-align: center;
    }
    &__levels {
      grid-template: repeat(2, 70px) / minmax(290px, 400px);
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: auto;
    }
    &__column {
      grid-template-rows: auto auto auto;
      height: unset;
      row-gap: 10px;
    }
    &__inner {
      padding-left: unset;
      grid-template-rows: auto auto;
    }
    &__item::before {
      display: none;
    }
  }
  .contact {
    &__wrapper {
      grid-template-columns: 100%;
    }
    &__inner-social {
      align-items: center;
      flex-direction: column;
    }
    &__subtitle {
      &-form {
      text-align: center;
      }
      &-social {
        margin-right: unset;
      }
    }
    &__btn {
      margin: 15px auto 0;
      max-width: 85%;
    }
    &__social {
      margin-top: 10px;
    }
  }
  .footer {
    &__box {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__policy {
      margin-top: 20px;
      text-align: center;
    }
  }
}

/* Hide social block */
@media (max-width: 1439px) {
  .social-wrap {
    display: none;
  }
}


/* Decorline fix */
// @media (max-width: 337px) {
//   .skills {
//     &__title.decorline {
//       &::after {
//         top:75px;
//       }
//     }
//   }
// }



@media screen and (max-width: 991px){
	.cursor,.cursor2,.cursor3 {
		display: none;
	}
}
