$primary-color: #1F1E1C;
$secondary-color: #FFF;
$first-accent-color: #30A7E2;
$second-accent-color: #31FFEE;

:root {
  --transition-base: all .6s ease;
  --color-background-text: #e8e8e8;
  --color-play: #fff;
  --background-indicator: #bab9b9;
}

.dark-theme {
	--color-main: #1F1E1C;
	--color-second: #e8e8e8;
  --color-accent-main: #30A7E2;
  --color-accent-second: #31FFEE;
  --color-gray-main: #e8e8e8;

  --reflect: below 1px linear-gradient(transparent, #0005);

  --color-icon-link: #e8e8e8;

  --color-cursor: rgba(48, 167, 226, 1);
  --shadow-cursor: 0 0 22px rgba(48, 167, 226, 1);
  --shadow-cursor-hover: 0 0 15px #31FFEE;

  --shadow-modal: 0px 100px 80px rgba(232, 232, 232, 0.07), 0px 41.7776px 33.4221px rgba(232, 232, 232, 0.0503198), 0px 22.3363px 17.869px rgba(232, 232, 232, 0.0417275), 0px 12.5216px 10.0172px rgba(232, 232, 232, 0.035), 0px 6.6501px 5.32008px rgba(232, 232, 232, 0.0282725), 0px 2.76726px 2.21381px rgba(232, 232, 232, 0.0196802);

  --font-weight: 200;

  // --shadow-btn: -14px -14px 28px #252422, 14px 14px 28px #191816;
  --shadow-btn: none;
  --shadow-btn-hover: 0 0 5px #31FFEE, 0 0 25px #31FFEE, 0 0 50px #31FFEE;

  --background-skill:  rgba(49, 255, 238, 10%);
  --border-skill:  rgba(49, 255, 238, 50%);

  --gradient-menu: linear-gradient(90deg, var(--color-accent-second), var(--color-accent-main), var(--color-main));

  --gradient-indicator: linear-gradient(90deg, var(--color-main), var(--color-accent-main), var(--color-accent-second), var(--color-second));
}

.light-theme {
	--color-main: #e8e8e8;
	--color-second: #1F1E1C;
  --color-accent-main: #f84822;
  --color-accent-second: #e80707;
  --color-gray-main: #666666;
  --reflect: none;
  --color-icon-link: #666666;

  --color-cursor: rgba(248, 72, 34, .5);
  --shadow-cursor: 0 0 22px rgba(248, 72, 34, 1);
  --shadow-cursor-hover: 0 0 15px #d65449;

  --shadow-modal: 0px 100px 80px rgba(31, 30, 28, 0.07), 0px 41.7776px 33.4221px rgba(31, 30, 28, 0.0503198), 0px 22.3363px 17.869px rgba(31, 30, 28, 0.0417275), 0px 12.5216px 10.0172px rgba(31, 30, 28, 0.035), 0px 6.6501px 5.32008px rgba(31, 30, 28, 0.0282725), 0px 2.76726px 2.21381px rgba(31, 30, 28, 0.0196802);

  --font-weight: 400;

  // --shadow-btn: -14px -14px 28px #252422, 14px 14px 28px #191816;
  --shadow-btn: none;
  // --shadow-btn-hover: 0 0 5px #31FFEE, 0 0 25px #31FFEE, 0 0 50px #31FFEE;
  --shadow-btn-hover: 0px 100px 80px rgba(31, 30, 28, 0.07), 0px 41.7776px 33.4221px rgba(31, 30, 28, 0.0503198), 0px 22.3363px 17.869px rgba(31, 30, 28, 0.0417275), 0px 12.5216px 10.0172px rgba(31, 30, 28, 0.035), 0px 6.6501px 5.32008px rgba(31, 30, 28, 0.0282725), 0px 2.76726px 2.21381px rgba(31, 30, 28, 0.0196802);

  --background-skill:  rgba(232, 7, 7, .05);
  --border-skill:  rgba(232, 7, 7, .3);

  --gradient-menu: linear-gradient(180deg, var(--color-accent-second), var(--color-accent-main), var(--color-main));

  --gradient-indicator: linear-gradient(90deg, var(--color-main), var(--color-accent-main), var(--color-accent-second));
}
