.cookie {
  &__box {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 5px;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    padding: 10px 20px;
    z-index: 9999;
    background-color: var(--color-main);
    border: 1px solid var(--color-gray-main);
    opacity: 0;
    transition: all .6s ease;
    &.show {
      display: flex;
      opacity: 0.90;
    }
    // a {
    //   cursor: pointer;
    //   position: relative;
    //   color: inherit;
    //   text-decoration: none;
    //   padding-bottom: 3px;
    //   line-height: 24px;
    //   &:before {
    //     content: '';
    //     position: absolute;
    //     transition: transform .5s ease;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     display: block;
    //     height: 2px;
    //     background: var(--color-accent-main);
    //     transform:  scaleX(0);
    //   }
    //   &:hover:before {
    //     transform:  scaleX(1);
    //   }
    // }
  }
  &__txt {
    font-size: 10px;
    font-weight: 400;
  }
  &__btn {
    padding: 5px 20px;
    margin-left: 20px;
    font-size: 12px;
  }
}
