.background-box {
    min-width: 36px;
    height: 36px;
    border-radius: 100%;
    display: block;
    background-color: var(--color-accent-main);
    position: relative;
    &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    path {
      fill: var(--color-second);
    }
  }
}
