.box-icon {
    min-width: 36px;
    height: 36px;
    border-radius: 100%;
    background: var(--color-accent-main);
    position: relative;
    transition: var(--transition-base);
    &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    color: var(--color-second);
  }
}
