.label {
  font-weight: 400;
  font-size: 16px;
  padding-left: 8px;
  position: relative;
  z-index: 10;
  &::before {
    content: '';
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: var(--color-accent-main);
    display: block;
    top: -7px;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: var(--transition-base);
  }
  &_center {
    padding-left: 0;
    text-align: center;
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
