.menu {
  position: fixed;
  top: 0;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  width: 100vw;
  height: calc(var(--vh) * 100);
  transition: var(--transition-base);
  &.active {
    left: 20px;
    visibility: visible;
    opacity: 1;
  }
  &__block {
    max-width: 345px;
    width: 100%;
    height: 90%;
    background: var(--gradient-menu);
    position: absolute;
    display: block;
    position: fixed;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
  }
  &__list {
    margin: 50% auto;
  }
  &__link {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    position: relative;
    a {
      cursor: pointer;
      position: relative;
      color: var(--color-background-text);
      text-decoration: none;
      padding: 10px;
      display: inline-block;
      overflow: hidden;
      &:before, &:after {
        content: '';
        position: absolute;
        transition: var(--transition-base);
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--color-background-text);
      }
      &:before {
        bottom: 0;
        transform:  translateX(-100%);
      }
      &:after {
        top: 0;
        transform:  translateX(100%);
      }
      &:hover:before, &:hover:after {
        transform:  translateX(0);
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
    opacity: .75;
    z-index: 50;
  }
  &__close {
    background-color: transparent;
    display: block;
    color: var(--color-background-text);
    font-size: 50px;
    line-height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: var(--transition-base);
    &:hover {
      transform: scale(1.5) rotate(360deg);
    }
  }
}
