.cursor {
  position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
  height: 0;
	width: 0;
	z-index: 9999;
  &2 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    height: 30px;
    width: 30px;
    z-index:99991;
    transition:all 0.3s ease-out;
    border: 2px solid var(--color-cursor);
    box-shadow: var(--shadow-cursor);
    &.hover {
      transform: scale(2) translateX(-25%) translateY(-25%);
      border: none;
      box-shadow: var(--shadow-cursor-hover);
    }
  }
  &3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    z-index: 99992;
    height: 50px;
    width: 50px;
    transition: all 200ms ease-out;
    background-position: center;
    background-size: 0 0;
    &.hover {
      height: 220px;
      width: 320px;
      border:none;
      border-radius: 1px;
      background-size: cover;
    }
  }
}
