.social-wrap {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  &:hover {
    .social-wrap__dash {
      height: 120px;
    }
    .social-wrap__link:not(:last-child) {
      margin: 30px 0 0 0;
    }
    .social-wrap__text {
      letter-spacing: 5px;
    }
  }
  &__text {
    font-size: 16px;
    writing-mode: vertical-lr;
    font-weight: 400;
    color: var(--color-icon-link);
    transform: rotate(180deg);
    transition: var(--transition-base);
  }
  &__dash {
    background-color: var(--color-gray-main);
    width: 2px;
    height: 100px;
    margin: 30px 0;
    transition: var(--transition-base);
  }
  &__inner {
    display: flex;
    flex-direction: column-reverse;
    &_menu {
      flex-direction: row;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__link {
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    transition: var(--transition-base);
    &:not(:last-child) {
      margin: 15px 0 0 0;
    }
    svg path {
      fill: var(--color-icon-link);
    }
    &:hover {
      transform: scale(2) rotate(0deg);
      svg path {
        fill: var(--color-accent-second);
      }
    }
    &_menu {
      transform: rotate(0deg);
      &:not(:last-child) {
        margin: 0 15px 0 0;
      }
      &:last-child {
        margin-top: 0;
      }
    }
  }
}
